a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp7613e7a0{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:visited{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:active{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:hover{ color:#0000FF; text-decoration: underline} 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_19fa066c { position:absolute; left:89%; top:0%; width:11%; min-height:798px; background:none;  }
#container_19fa066c_padding { margin: 10px; display: block;  }
#container_372e6fb { vertical-align: top; position:relative; display: inline-block; width:11%; min-height:798px; background:none;  }
#container_372e6fb_padding { margin: 10px; display: block;  }
#img_502d024 { vertical-align: top; position:relative; display: inline-block; width:78%; background:none; height:auto;  }
#container_144c238e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:5px; background:none;  }
#container_144c238e_padding { margin: 10px; display: block;  }
#text_529c6a87 { vertical-align: top; position:relative; display: inline-block; width:305px; height:26px; background:none;  }
.textstyle2 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#text_45550c7 { position:absolute; left:36%; top:6%; width:506px; height:27px; background:none;  }
.textstyle3 { font-size:18pt; font-family:Arial; color:#000000; font-weight:bold;  }
#text_290ae008 { position:absolute; left:50%; top:15%; width:409px; height:26px; background:none;  }
#text_7c354a4e { position:absolute; left:46%; top:26%; width:371px; height:23px; background:none;  }
.textstyle4 { font-size:15pt; font-family:Arial; color:#000000; font-weight:bold;  }
#text_7281f27e { position:absolute; left:56%; top:32%; width:450px; height:18px; background:none;  }
#text_1831806 { position:absolute; left:42%; top:44%; width:367px; height:13px; background:none;  }
#text_5273b263 { position:absolute; left:40%; top:84%; width:610px; height:26px; background:none;  }
#text_240af71f { position:absolute; left:24%; top:69%; width:456px; height:23px; background:none;  }
.textstyle5 { font-size:16pt; font-family:Arial; color:#000000; font-weight:bold;  }
#text_79a43a52 { position:absolute; left:56%; top:60%; width:396px; height:13px; background:none;  }
#text_6c0cfec9 { position:absolute; left:29%; top:63%; width:371px; height:23px; background:none;  }
