a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp7613e7a0{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:visited{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:active{ color:#000000; text-decoration: none} 
		a.wsp7613e7a0:hover{ color:#0000FF; text-decoration: underline} 
#gallery_2af71ef1 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_2af71ef1 div.galleryimgcontainer img {  width: 100%;  height: auto; background-color:#D1D1D1; background: linear-gradient(to bottom, #7F7F7F, #D1D1D1);  } 
@media only screen and (max-width:520px) { #gallery_2af71ef1 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_2af71ef1 div.galleryimgcontainer { width: 100%; } } 
body { background-color:#A85400; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_58d116d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background-color:#FF8000; background: linear-gradient(to bottom, #FFFF80, #FF8000);  }
#container_58d116d0_padding { margin: 10px; display: block;  }
#container_33c96533 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_33c96533_padding { margin: 10px; display: block;  }
#button_70cb83dd { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FF0000; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_6875da66 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_6875da66_padding { margin: 10px; display: block;  }
#button_4fce93d9 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; margin:0px 0px 0px 150px;width:150px; height:40px; background-color:#FF0000; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_54a45994 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_54a45994_padding { margin: 10px; display: block;  }
#button_12a8d063 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; float:right; width:150px; height:40px; background-color:#FF0000; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#text_3cb4dd3e { position:absolute; left:1%; top:97%; width:336px; height:26px; background:none;  }
.textstyle4 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_149e2e75 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FF8040; background: linear-gradient(to bottom, #FF8000, #FF8040);  }
#container_149e2e75_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:15pt; font-family:Arial; color:#000000; font-weight:bold;  }
#container_33dab022 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#A85400; background: linear-gradient(to bottom, #FF8040, #A85400);  }
#container_33dab022_padding { margin: 10px; display: block;  }
#gallery_2af71ef1 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#text_8884fa5 { position:absolute; left:1%; top:97%; width:336px; height:26px; background:none;  }
.textstyle6 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
@media only screen and (max-width: 600px)
{
		#container_33c96533 { width:100%;  }
		#container_6875da66 { width:100%;  }
		#container_54a45994 { width:100%;  }
}
